:root {
    --carrot: #F7971D;
    --columbia: #C0D6DF;
    --sabelline: #EAEAEA;
}

.clock {
    position: absolute;
    width: 275px;
    height: 175px;
    background: var(--carrot);
    color: var(--sabelline);
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 50px;

    top: 10%;
    left: 3%;
    opacity: .5;

}

.clock:hover {
    opacity: 1;
}

#time {
    font-size: 50px;
}

#date {
    top: -5%;
    left: 18%;
}