:root {
    --carrot: #F7971D;
    --columbia: #C0D6DF;
    --sabelline: #EAEAEA;
}

.ipinfo {
    position: absolute;
    width: 275px;
    height: 175px;
    background: none;
    color: var(--carrot);
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 50px;

    top: 45%;
    left: 3%;
    opacity: .6;

}

.ipinfo:hover {
    opacity: 1;
}

#my_visits {
    font-size: 50px;
}

#all_visitors {
    top: -13%;
    left: 37%;
}